*{
    margin: 0;
    padding: 0;
    cursor: pointer;
}


body{
    margin: 25px;
    padding: 20px;
}

#heading{
    border-bottom: 2px #FCE8F5 solid;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h1{
    font-family: "Bitcount Prop Single", system-ui;
    color: #ffb5e1;
    background-image: linear-gradient(45deg,#ffb5e1, #B67AE1,#9DA9EC ,#F9BEE4,#9AB2EF,#757DE6,#ffb5e1);
    background-clip: text;
    background-size: 100%;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    padding-left: 25px;
    font-size: 50px;
    animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}

h1:hover{
    animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}

@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
}

@keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 650%;
    }
}
span img{
    position: relative;
    
}

#heading::after{
    content: '';
    background-image: linear-gradient(to right,#BA70EB,#7E44E9 );
    position: absolute;
    width: 100%;
    height: 4%;
    z-index: -1;
    top: 60px;
    box-shadow: 200px 0 100px #769fff, -100px 0 100px #dda2ff ;
    filter: blur(0.3em);

}

/* styling for the drop down menu */
#motivation{
    margin: 20px;
}

.details{
    transition: ease-in 2s ease-out;
}

.details img{
    position: relative;
    left: 150px;
    margin: 10px;
}

#decor{
    position: relative;
}


#decor .exam{
    position: absolute;
    left: 200px;
    animation: rotating 4s ease-in 2s infinite normal forwards;
}

.usagi{
    position: absolute;
    right: 230px;
    animation: usagi 4s ease 1s infinite normal forwards;
}

.milk{
    position: absolute;
    top: 300px;
    left: 150px;
    transform: rotate(-20deg);
}

.book{
    position: absolute;
    top: 320px;
    right: 200px;
}

@keyframes usagi{
    0% {transform: rotate(0deg)};
    25% {transform: rotate(-20deg);}
    50% {transform: rotate(20deg)}
    75%{transform: rotate(0deg);}
    100% {transform: rotate(-20deg)};
}

@keyframes rotating{
    0% {transform: rotate(0deg)};
    25% {transform: rotate(20deg);}
    50% {transform: rotate(0deg)}
    75%{transform: rotate(20deg);}
    100% {transform: rotate(0deg)};
}

summary{
    font-family: "Bree Serif", serif;
    font-weight: 400;
    color: #777EE4;
}

ul{
    padding-left: 30px;
    font-family:  monospace;
    color: #837C80;
    list-style-type: circle ;
}

/* styling for the input section */
#container{
    text-align: center;
    margin: 50px;
}


input[type="text"]{
    width: 420px;
    height: 25px;
    margin: 10px;
    color: #C694C7;
    font-size: 18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-style: italic;

    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: rgb(255, 207, 237) solid;
    
}

input[type="text"]:focus{
    outline: none;
    border-color: transparent;
    box-shadow: 0 0 0 2px #C98DCE, 0 0 20px  #E9A0CC;
    
}

input[type="checkbox"]{
    accent-color: #F198C9;
    
}


/* for small screens */
@media screen and (max-width: 768px) {
    /* Prevent horizontal scrolling caused by absolute images */
    body {
        overflow-x: hidden;
        margin: 10px;
    }

    /* Shrink the heading text to fit mobile */
    h1 {
        font-size: 30px;
        white-space: nowrap;
    }

    /* Adjust the glowing line position for the smaller text */
    #heading::after {
        top: 40px;
    }


    input[type="text"] {
  field-sizing: content; /* Input grows horizontally with typed text */
  min-width: 200px;      /* Starting size */
  max-width: 100%;      /* Won't go off-screen */
}


    #container {
    position: relative;
}

    #decor {
        display: none;
    }

}
